<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计机第二党支部通知</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/main.css">
</head>
<body>
<div class="notice_style_img"><img src="/resources/image/05.jpg" alt=""></div>
<div class="notice_style">
    <h2 id="newsTitle"></h2>
    <p id="newsContent" class="notice_style_text" style="line-height: 45px;text-align: left">
    </p><div id="pubTime" style="margin-right:200px ;text-align: right" ></div>

</div>
</body>

<script type="text/javascript" src="/resources/js/jquery-1.10.2.js"> </script>
<script >
    //从url中分离出内容和标题，显示在网页上
    var newsTitle = document.getElementById("newsTitle");
    var newsContent =document.getElementById("newsContent");
    var pubTime = document.getElementById("pubTime");
    $(function(){
        var url =decodeURI(location.search);
        var newsid = url.substr(1,url.length-1);
        var id = parseInt(newsid);
        $.ajax({
            url: "/api/news/getNews",
            type: "GET",
            datatype: "json",
            contentType : 'application/json',
            data: ({
                id:id
            }),
            error: function (err) {
                alert("无法获取相关数据！"); },
            success: function (result) {
                    var message = result.data.News;
                    newsTitle.innerHTML  = message.newsTitle;
                    newsContent.innerHTML = message.newsContent;
                    pubTime.innerHTML = message.putTime;
            }
        });
    })
</script>



</html>