
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计机第二党支部通知</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/main.css">
</head>
<body>
    <div class="notice_style_img"><img src="/resources/image/05.jpg" alt=""></div>
    <div class="notice_style">
        <div id="newsTitle"></div>
        <p class="notice_style_text" style="line-height: 45px;text-align: left">
        <div id="newsContent"></div>
        </p>
        <div id="pubTime" style="margin-right:200px ;text-align: right" ></div>

    </div>
</body>
<script type="text/javascript">
        //从url中分离出内容和标题，显示在网页上
        var newsTitle = document.getElementById("newsTitle");
        var newsContent =document.getElementById("newsContent");
        var pubTime = document.getElementById("pubTime");
        function GetRequest() {
            var url =decodeURI(location.search);//获取url中"?"符后的字串
            var theRequest = new Object();
            if (url.indexOf("?") != -1) {
                var str = url.substr(1);
                strs = str.split("&");
                for(var i = 0; i < strs.length; i ++) {
                    theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                }
            }
            return theRequest;
        }
        var Request = new Object();
        Request = GetRequest();
        newsTitle.innerHTML = Request['newsTitle'];
        newsContent.innerHTML =Request['newsContent'];
        pubTime.innerHTML =Request['pubTime'];
</script>
        

</script>
</html>