<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于党员实践活动通知</title>
    <link rel="stylesheet" type="text/css" href="/Style/main.css">
</head>
<body>
    <div class="notice_style_img"><img src="/Image/05.jpg" alt=""></div>
    <div class="notice_style">
        <h2>关于党员实践活动通知</h2>
        <p class="notice_style_text" style="text-indent: 2em; line-height: 45px;text-align: left">
            现征集各位党员自愿围绕以下3个主题(主题可重复)提交五份文件：有关民生变化的新老照片对比；
            以“旧照片+故事
            ”的形式讲述一个爷爷辈的红军故事缅怀先烈；党员手持寄语画本的照片。
            如果有意愿的党员同志可以在9月30号前私聊党支部副书记。
            <div style="margin-right:200px ;text-align: right">2017年9月25日</div>
        </p>
    </div>

    </div>
</body>
</html>