<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于申请优秀党员通知</title>
    <link rel="stylesheet" type="text/css" href="/Style/main.css">
</head>
<body>
    <div class="notice_style_img"><img src="/Image/05.jpg" alt=""></div>
    <div class="notice_style">
        <h2>关于申请优秀党员通知</h2>
        <p class="notice_style_text" style="text-indent: 2em; line-height: 45px;text-align: left">
            应学校要求择优推荐院内两到三名优秀党员，现在请各副书记收集的申请成为优秀党员的名单和申请材料，
            按模板填写党员信息。届时可能会有学生工作处下属组织可能会对其进行预约采访。
            申请名单和申请材料于10月7号前发送到公邮jijidierdangzhibu@163.com
        </p>
        <div style="margin-right:200px ;text-align: right">2017年9月28日</div>
    </div>
</body>
</html>