<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于申请优秀党员通知</title>
    <link rel="stylesheet" type="text/css" href="/Style/main.css">
</head>
<body>
    <div class="notice_style_img"><img src="/Image/05.jpg" alt=""></div>
    <div class="notice_style">
        <h2>关于党员考学活动通知</h2>
        <p class="notice_style_text" style="text-indent: 2em; line-height: 45px;text-align: left">
            根据工委和校组织部要求，在保证考学人数的前提下，要着力提高考学满分率，
            请各党支部继续抓好“学省党代会精神 迎党的十九大召开”考学工作，在完成考学但没有满分的党员，
            可继续参加考学，党员请尽快将最新的考试成绩截图提交至副书记汇总！
            具体通知网站：<a href="http://www.scau.edu.cn/2017/0805/c1390a49244/page.htm" style="color: #0099ff">http://www.scau.edu.cn/2017/0805/c1390a49244/page.htm</a>
            <div style="margin-right:200px ;text-align: right">2017年9月23日</div>
        </p>
    </div>

    </div>
</body>
</html>