<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于申请优秀党员通知</title>
    <link rel="stylesheet" type="text/css" href="/Style/main.css">
</head>
<body>
    <div class="notice_style_img"><img src="/Image/05.jpg" alt=""></div>
    <div class="notice_style">
        <h2>关于召集迎新活动志愿者通知</h2>
        <p class="notice_style_text" style="text-indent: 2em; line-height: 45px;text-align: left">
            接学院党委要求，我院全体党员积极配合学院迎新工作。请各本科生党支部出6-8个15级或16级的入党积极分子、
            党员(含预备党员)参与学校的17级迎新工作。本次迎新工作于本月11号早上9点40分至12点10分进行。参与此次迎新工作的志愿者会获得2.5个志愿时。   每个支部出一个志愿者负责人负责本支部志愿者人员的签到及相关的工作安排，党务这边负责通知志愿者负责人。
            稍后上传志愿者名单模版至群里，请参照模版填好志愿者的相关信息于7号晚上10点之前发到支部公邮jijidierdangzhibu@163.com。
            <div style="margin-right:200px ;text-align: right">2017年9月6日</div>
        </p>
    </div>

    </div>
</body>
</html>